/* **********************First Project********************* */
/* div {
    font-size: 50px;

    text-shadow: 
      2px 2px #f13838
    , 4px 4px #03A9F4
    , 6px 6px #c850c8;
    font-family: Arial, Helvetica, sans-serif;
} */
/* **********************Second Project********************* */
/* p {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px ;
text-align: center;
font-family:Arial, Helvetica, sans-serif;
font-size: 50px;
}
.one {
text-transform: uppercase;
}
.two {
    text-transform: capitalize;
}
.three {
    text-transform: lowercase;
} */
/* **********************thrid Project********************* */
/* div {
    width: 405px;
    padding: 15px 30px 15px 15px;
    overflow: hidden;
    background-color: darkgrey;
    margin-bottom: 20px;
    font-size: 20px;