/* first Project  */


.center-flex {
    display: flex;
    justify-content: center;
    align-content: center;
}

.center-position {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(50% , 50% );
    -webkit-transform: translate(50% , 50% );
    -moz-transform: translate(50% , 50% );
    -ms-transform: translate(50% , 50% );
    -o-transform: translate(50% , 50% );
}

.circle-100 {
    width: 100px ;
    height: 100px ;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.circle-200 {
    width: 200px ;
    height: 200px ;
    border-radius: 100px ;
    -webkit-border-radius: 100px ;
    -moz-border-radius: 100px ;
    -ms-border-radius: 100px ;
    -o-border-radius: 100px ;

}



/*  Second Project  */

/* div {
    margin: 10px auto ;
    background-color: rgb(160, 160, 160) ;
    width: 300px ;
    font-size: 50px ;
    padding: 20px ;
    text-align: center ;
}

.arrow {
position: relative;
}
.arrow::before {
    content: "";
    position: absolute;
    border: 10px solid ;
    border-color:  transparent transparent  gray transparent;
    width: 0px;
    height: 0px;
    background-color: transparent;
}
.top::before {
    content: "";
    position: absolute;
    left: calc( 50% - 5px );
    top: -19px;
}
.left::before {
    content: "";
    position: absolute;
    left: 100%;
    top: CALC( 50% - 10PX );
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.right::before {
    content: "";
    position: absolute;
    right: 100%;
    top: CALC( 50% - 10PX );
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

.bottom::before {
    content: "";
    position: absolute;
    left: calc( 50% - 5px );
    bottom: -19px ;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

 */



/* Thrid Project  */







 /* Fourth Project  */

